html.custom-font(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="yandex-verification" content="e7a14bc685ede8b8")

        link(type="text/css", rel="stylesheet", href="/css/app.css?q="~randomString())

        link(rel="stylesheet" href="/css/third_part/bootstrap.min.css")
        script(type="text/javascript", src="/js/third_part/jquery-3.3.1.min.js")
        script(type="text/javascript", src="/js/third_part/jquery_ui.js?q=1")
        script(type="text/javascript", src="/js/third_part/popper.min.js")
        script(type="text/javascript", src="/js/third_part/bootstrap.bundle.min.js")


        link(rel="stylesheet" href="/css/third_part/fontawesome_all.css")

        script(type="text/javascript", src="/js/alerts.js?q="~randomString())
    body
